

{% extends 'base.html' %}

{% block content %}


<div class="p-3 mb-2 bg-info text-dark">
  <a href="/">Back to Home Page</a>
    <div class="container">
      <div class="row">

        {% for x in names %}
          <div class="col mb-5">  
            <div class="card" style="width: 18rem;">
              <img src="{{ x['img'] }}" class="card-img-top" alt="..." height="220">
                <div class="card-body">
                  <h5 class="card-title">{{ x['name']}}</h5>
                    <p class="card-text">Genre: {{ x['Genre'] }}</p>
            
          </div>
        </div>
      </div>



    {% endfor %}
     </div>
  </div>
</div>
  
{% endblock %}